body{
    background-color: #030328;
}

a,select{
    cursor: pointer;

    text-decoration: none;
}

#fixo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: fixed;

    background-color: rgba(0, 0, 0, 0.301);

    padding: 8px 16px;

    width: 100vw;
}

#as{
    display: flex;
    flex-direction: row;

    margin-right: 16px;
}

#a1 {
 width: 160px;
 height: 27px;

 padding: 6px 0px;
}


#a2{
    display: flex;
    justify-content: center;
    align-items: center;

    font: 12px 'friends1';

    letter-spacing: 3px;

    padding: 6.6px 24px 6px;
 
    width: 110.08px;
    height: 34.59px;

    color: #fff;

    text-decoration: none;

}

#a3{
    display: flex;
    justify-content: center;
    align-items: center;

    letter-spacing: 3px;

    font: 12px 'friends1';

    width: 164.98px;
    height: 34.59;

    background-color: #b535f6;

    border-radius: 20px;

    color: #fff;

    text-decoration: none;

    transition: 0.3s;
}

#a3:hover{
    color: #000;
    background-color: #fff;
}









.secao1{
    display: flex;
    justify-content: center;
    align-items: end;

    height: 826.5px;

    padding: 22px;

}

.secao1-f{
    display: flex;
    flex-direction: column;
}

.text{
    display: flex;
    justify-content: start;

    margin: 16px 0px 8px;
}

.text h2{
    font:50px 'friends2' ;

    width: 1110px;

    color: #fff;
}

.secao1-f img{
    width: 1110px;
    height: 624.38px;
}











.faixa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-image: url('../../assets/images/gradient2.jpg');
    background-position: 0px -480px;
    
    height: 120px;
    
    margin: 25px 0px 50px 0px;
}

.faixa h1{
    font: 40px 'friends2';

    color: #fff;

    padding: 0px 15px;

    margin-right: 7px;
}

.faixa-button{
    display: flex;
    justify-content: center;

    width: 380px;
}

.faixa-button a{
    display: flex;
    align-items: center;
    justify-content: center;

    font: 16px 'friends1';

    width: 202.64px;
    height: 44.8px;

    background-color: #b535f6;
    color: #fff;

    letter-spacing: 3px;

    border-radius: 30px;

    transition: 0.3s;
}

.faixa-button a:hover{
    color: #000;
    background-color: #fff;
}






.secao2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    margin-bottom: 82px;
}

.secao2-p{
    display: flex;
    align-items: start;

    height: 151px;
}

.secao2 p{

    font: 20px 'friends3';

    padding: 0px 15px;

    color: #fff;

    width: 570px;

    line-height: 32px;
}
















.secao3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.secao3-f1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    width: 1140px;

    margin-bottom: 55px;
}

.secao3-f1 h1{
    font: 40px 'friends2';

    color: #fff;

    padding: 0px 15px;

    margin-right: 7px;
}

.secao3-f1 select{
    background-color: #030328;

    color: #9e86ff;

    border: none;

    height: 28px;


    font: 16px 'friends1';

    letter-spacing: 3px;
}

select:hover{
color: #fff;

}








.secao3-f2{
    display: flex;
    flex-direction: row;

    width: 1140px;
}

.episodios{
    display: flex;
    flex-direction: column;

    width: 1140px;
}

.episodios img{
    width: 255px;
    height: 143.44px;
}

.episodios div{
    display: flex;
    flex-direction: column;

    margin-bottom: 25px;

    padding: 0px 15px;

    height: 318.56px;

}

.episodios h1{
    font: 16px 'friends2';

    margin: 16px 0px 8px;

    color: #fff;

    width: 255px;
}

.episodios p{
    font: 12px 'friends3';

    margin-bottom: 16px;

    color: #fff;

    width: 255px;

    line-height: 19px;
}

.episodios p > a{
    font: 12px 'friends3';

    color: #9e86ff !important;
}

.episodios p > a:hover{
    font: 12px 'friends3';

    color: #fff !important;

}












.secao4{
    display: flex;
    flex-direction: column;

    align-items: center;

    margin-top: 20px;

    margin-bottom: 60px;
}

.secao4 > h1{
    font: 40px 'friends2';

    color: #fff;

    padding: 0px 15px;

    margin-right: 7px;
    
    width: 1140px;
}

.outros{
    display: flex;
    flex-direction: column;

    width: 1140px;


    margin-top: 30px;
}

.linhas{
    display: flex;

}

.linhas div{
    display: flex;
    flex-direction: column;

    margin-bottom: 25px;

    padding: 0px 15px;

    width: 285px;
    height: 186.63px;
}

.linhas img{
    width: 255px;
    height: 143.44px;
}


.linhas h1{
    font: 16px 'friends2';

    margin: 16px 0px 8px;

    color: #fff;

}








.rodapé{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    margin-bottom: 70px;
}

.rf1{
    display: flex;
    flex-direction: row;

    height: 36.61px;
}

.rf1 a{
    font: 12.8px 'friends1';

    color:#9e86ff;

margin: 0px 19.2px;

letter-spacing: 2.9px;
}

.rf2{
    display: flex;
    flex-direction: row;

    height: 34.19px;
}

.rf2 a {
    font: 12px 'friends3';

    margin: 0px 18px;

    color: #9e86ff;

    letter-spacing: 0.6px;
}

.rodapé p{
    font: 12px 'friends3';

    color: #9e86ff;


}