@font-face {
    font-family: 'frutas1';
    src: url("../assets/fonts/frutas1.woff2");
}

@font-face {
    font-family: 'frutas2';
    src: url("../assets/fonts/frutas2.woff2");
}

@font-face {
    font-family: 'frutas3';
    src: url("../assets/fonts/frutas3.woff2");
}

@font-face {
    font-family: 'frutas4';
    src: url("../assets/fonts/frutas4.woff2");
}

@font-face {
    font-family: 'frutas5';
    src: url("../assets/fonts/frutas5.woff2");
}