@font-face {
    font-family: 'harry1';
    src: url("../assets/fonts/harry1.woff2");
}

@font-face {
    font-family: 'harry2';
    src: url("../assets/fonts/harry2.woff2");
}

@font-face {
    font-family: 'harry3';
    src: url("../assets/fonts/harry3.woff2");
}

@font-face {
    font-family: 'harry4';
    src: url("../assets/fonts/harry4.woff2");
}

@font-face {
    font-family: 'harry5';
    src: url("../assets/fonts/harry5.woff2");
}