@font-face {
    font-family: 'maes1';
    src: url("../assets/font/maes1.woff2");
}

@font-face {
    font-family: 'maes2';
    src: url("../assets/font/maes2.woff2");
}

@font-face {
    font-family: 'maes3';
    src: url("../assets/font/maes3.woff2");
}

@font-face {
    font-family: 'maes4';
    src: url("../assets/font/maes4.woff2");
}