*{
    margin: 0px;
    box-sizing: border-box;
}


body{
    background-color: #fff;
 }

 .secao-01{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0px 130px 0px; 
    color: #fff;
    background-color: #404eed;
    background-image: url('../../assets/image/fundodc.svg');
    background-size: cover;
    background-position: -510px 0px;
    position: relative;
    overflow: hidden;
 }

 .secao-01 a{
    cursor: pointer;
 }

 

 .s1-tenis{
    position: absolute;
    bottom: 0px;
    left: -200px;

 }

 .s1-suco{
    position: absolute;
    bottom: 0px;
    right: -150px;

 }

 .s1-cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1280px;
    margin-bottom: 140px;

 }


 


 .secao-01 > h1{
    font: 56px 'discord1';
    width: 500px;
    text-align: center;
    line-height: 60px;
    margin-bottom: 50px;
}

.secao-01 > p{
    font: 20px 'discord2';
    width: 780px;
    text-align: center;
    line-height: 32px;
    margin-bottom: 30px;
}


 .s1-menu{
    display: flex;
    flex-direction: row;

 }

 .s1-menu a{
    margin: 5px 20px;
    font: 20px 'discord4';
 }

 .s1-menu a:hover{
    text-decoration: underline;


 }

 .s1-cabecalho > a{
    background-color: #fff;
    color: #23272a;
    border-radius: 30px;
    font: 14px 'discord3';
    padding: 10px 14px;
 }

 .s1-cabecalho >a:hover{ 
        box-shadow: 0px 8px 15px rgb(0 0 0 / 20%);
        color: #5855f2;
 }

 .s1-botoes{
    display: flex;
    flex-direction: row;

 }

 .s1-botoes > a {
    background-color: #fff;
    color: #23272a;
    font: 20px 'discord3';
    border-radius: 30px;
    padding: 15px 30px;
    display: flex;
    margin: 0px 10px;
    align-items: center;
    transition: 0.3s;
 }

 .s1-botoes >a:hover{
        box-shadow: 0px 8px 15px rgb(0 0 0 / 20%);
        color: #5855f2;  
 }

 

 .s1-botoes > a > svg{
    margin-right: 10px;
 }

 .s1-botao-escuro{
    background-color: #23272a !important;
    color: #fff !important;
   
}

 .s1-botao-escuro:hover{
    background-color: rgb(60, 60, 60) !important;

 }


 .secao-02{
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 110px 0px;
 }



 .s2-textos{
   display: flex;
   flex-direction: column;
   width: 370px;
   
 }

 .s2-textos h1{
   font: 50px 'discord5';
   color: black;
   line-height: 60px;
   margin-bottom: 20px;
 }

 .s2-textos p{
   font: 20px 'discord2';
   line-height: 22px;
 }

.secao-02 > * {
      margin: 0px 50px;

}

.secao-03{
   background-color: #f6f6f6;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   padding: 110px 0px;
 }

 .s3-textos{
   display: flex;
   flex-direction: column;
   width: 385px;
   margin-right: 130px;
 }

 .s3-textos h1{
   font: 53px 'discord5';
   color: black;
   line-height: 60px;
   margin-bottom: 30px;
 }

 .s3-textos p{
   font: 20px 'discord2';
   line-height: 40px;
 }

 .secao-04{
   padding: 110px 0px;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
 }

 .s4-textos{
   display: flex;
   flex-direction: column;
   width: 385px;
   margin-left: 130px;
 }

 .s4-textos h1{
   font: 53px 'discord5';
   line-height: 60px;
   margin-bottom: 35px;
 }

 .s4-textos p{
   font: 20px 'discord2';
   line-height: 40px;
 }

 .secao-05{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 110px 0px;
   background-color: #f6f6f6;
 }
 .s5-titulo{
   font: 50px 'discord1';
   width: 970px;
   text-align: center;
   line-height: 55px;
   margin-bottom: 35px;
 }

 .secao-05 p{
   font: 20px 'discord2';
   width: 970px;
   text-align: center;
   line-height: 35px;
 }

 .secao-05 img{
   width: 1310px;
   height: 800px;
   margin-bottom: 50px;
 }

.s5-subtitulo{
   font: 33px 'discord5';
   line-height: 60px;

}

.secao-05 a{
   background-color: #5855f2;
   color: #fff;
   font: 20px 'discord3';
   border-radius: 30px;
   padding: 15px 30px;
   display: flex;
   margin: 0px 10px;
   align-items: center;
   transition: 0.3s;

}

.secao-05 >a >svg{
   margin-right: 10px;
}

.secao-05 >a:hover{
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
   background-color: #8280e9;
}

.rodape{
   padding: 70px 150px;
   display: flex;
   flex-direction: column;
   background-color: #23272a;
}

.colunas{
   padding: 0px 0px 50px 0px;
   display: flex;
   flex-direction: row;
   border-bottom: 1px solid #404eed;

}

.coluna-1 h1{
   font: 34px 'discord1';
   color: #404eed;
   width: 280px;
   margin-bottom: 20px;
}

.coluna-1 select{
   background-color: transparent;
   border: none;
   outline: none;
   font: 15px 'discord5';
   color: #fff;
}

.coluna-1 img{
   width: 24px;
   height: 16px;
}

.coluna-2{
   flex-direction: column;
   display: flex;
   margin-left: 130px;
}

.c2-titulo{
   font: 20px 'discord4'; 
   color: #404eed !important;
}

.coluna-2 a{
   color: #fff;
   margin: 8px;
   font: 17px 'discord2';
}

.c3-titulo{
   font: 20px 'discord4'; 
   color: #404eed !important;
}

.coluna-3{
   display: flex;
   flex-direction: column;
   margin-left: 130px;
}

.coluna-3 a{
   color: #fff;
   margin: 8px;
   font: 17px 'discord2';
}

.c4-titulo{
   font: 20px 'discord4'; 
   color: #404eed !important;
}

.coluna-4{
   display: flex;
   flex-direction: column;
   margin-left: 120px;
}

.coluna-4 a{
   color: #fff;
   margin: 8px;
   font: 17px 'discord2';
}

.c5-titulo{
   font: 20px 'discord4'; 
   color: #404eed !important;
}

.coluna-5{
   display: flex;
   flex-direction: column;
   margin-left: 120px;
}

.coluna-5 a{
   color: #fff;
   margin: 8px;
   font: 17px 'discord2';
}

.rodapesub{
   margin-top: 70px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;

}

.rodapesub svg{
   color: #fff;
}

.rodapesub a{
   background-color: #5855f2;
   color: #fff;
   font: 15px 'discord3';
   border-radius: 30px;
   padding: 10px 20px;
   display: flex;
   margin: 0px 10px;
   align-items: center;
   transition: 0.3s;


}

.rodapesub >a:hover{
   box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
   background-color: #8280e9;
}

